% This is a (manually crafted) configuration file of rebar3, so that
% Ceylan-WOOPER can better integrate in the current OTP ecosystem, despite its
% (more complex) build based on GNU make.


% Base layout was obtained thanks to: 'rebar3 new app wooper', as WOOPER is an
% active OTP application (not a mere library).

% To be run from the library root as 'rebar3 compile' or 'rebar3 release'.


% See also:
% - http://erlang.org/doc/design_principles/release_structure.html
% - https://www.rebar3.org/docs/releases
% - https://learnyousomeerlang.com/release-is-the-word



% Settings for the 'default' profile follow.


% Depends on the Ceylan-Myriad OTP library application (Erlang implied):


% As a GIT-based dependency:
%
% (not working properly, as the hex plugin expects a flat source tree
% apparently, so the build of the dependency fails)
%
%{deps, [ {myriad, "1.*.*", {git,
%   "https://github.com/Olivier-Boudeville/Ceylan-Myriad",
%   {branch, "master"} } } ] }.


% As an hex-package dependency:
%
% (works if the package uses a specific hook script, see
% hex-compile-hook-script.sh, to compensate for the GNUmake* root files that the
% package archive will not include at their location)
%
{deps, [ {myriad, "1.0.5"} ] }.


% We need to rely on our dedicated build procedure (ex: for the parse transforms
% involved):
%
{pre_hooks, [ {compile, "make -s rebar3-compile"} ]}.

%{post_hooks, [
%	{compile, "echo 'WOOPER post-compile hook!'"} ]}.



% For release generation:
%
% (defaults are for the development mode)
%
% With relx, only direct dependencies need to be listed, and version constraints
% can be used, instead of exact, specific versions.
%
{relx, [

  {release, {wooper_release, {cmd, "cat GNUmakevars.inc | grep 'WOOPER_VERSION := '| sed 's|^WOOPER_VERSION := ||1' | tr -d '\n'"}},
		 % myriad thus implied:
		 [sasl, wooper]},

  %{sys_config, "./config/sys.config"},
  %{vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true},
  {include_src, false}

]}.


{profiles, [

  % Production mode:
  {prod, [ {relx, [

	% Same as default profile:
	{release, {wooper_release, {cmd, "cat GNUmakevars.inc | grep 'WOOPER_VERSION := '| sed 's|^WOOPER_VERSION := ||1' | tr -d '\n'"}},
		 % myriad thus implied:
		 [sasl, wooper]},

	% For the build makefiles:
	{env, [ { 'REBAR_PROFILE', "prod" } ] },

	% Not wanting the release to contain symlinks to applications:
	{dev_mode, false},

	% Creating a full target system:
	{include_erts, true},

	{extended_start_script, true},
	{include_src, false}

  ]}]

}] }.


% For packages:
%
% (use 'rebar3 update' to enable the hex plugin)
%
{plugins, [rebar3_hex]}.